/** 顶部导航 **/
#top {
	margin:0 0 10px 0;
	}
#topnav {
	padding-left:20px;
	background: #33363B;
	height: 35px;
	font-size: 13px;
	}
#topnav.current_page_item , #topnav .current-menu-item {
	background: black;
	}
#topnav .current-menu-item a,#topnav .current_page_item a {
	color: #fff !important;

	}
#topnav .current-menu-item  li a,#topnav .sub-menu a ,#topnav .current_page_item li a {
	color: #393939;
	}
.sub-menu a:hover {
	color: #0196e3 !important;
	}

#topnav li {
	height:35px;
	float: left;
	}
#topnav li a, #topnav li a:link, #topnav li a:visited {
	display: block;
	padding: 0 10px;
	line-height:35px; 
	color: #CCC;
	}
#topnav li a:hover, #topnav li a:active {
	background: black;
    color: #EFEFEF;
	display: block;
	text-decoration: none;
	line-height:35px; 
	padding: 0 10px;
	}
#topnav li li {
	height:26px;
	float: left;
	}
#topnav li li a {
	line-height:30px !important;
	}
#topnav li ul {
	position: absolute;
	left: -999em;
	width: 150px;
	margin: 0;
	border-width: 1px 1px 0px;
	z-index: 999;
	border: 1px solid #CCC;

background: white;
padding: 1px 5px;
border-top: 3px solid #82C83C;
	}
#topnav  li ul li {
	border-top: 1px solid #EEE;
	border-right: none;
	border-left: none;
	padding: 4px 0;
	display:block;
	}
#topnav  li ul li a {
	width: 130px;
	height:26px !important;
	line-height:26px !important;
	color: #ccc !important;
	font-weight: normal;
	}
#topnav li ul li a:hover {

	}
#topnav .sf-sub-indicator {
	position: relative;
	top: -1px;
	border-style: solid dashed dashed;
	border-color: transparent;
	border-top-color: #BBB;
	display: -moz-inline-box;
	display: inline-block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width: 0;
	border-width: 3px 3px 0;
	padding-top: 1px;
	left: 4px;
	}
#topnav  li ul li a.sf-with-ul {
	padding: 7px 12px;
	}
#topnav  li ul li a:hover {
	background: #82C83C !important;
	color: #fff !important;
	text-decoration: none;
	}
#topnav .sfHover .menu-item a {
	color: #393939 !important;
	}
#topnav .sfHover .menu-item a:hover {
	color: #fff !important;
	}
#topnav .sfHover .current-menu-item {
	background: none;
	}
#topnav .sfHover .current-menu-item a {
	background: #82C83C !important;
	color: white !important;
   }
#topnav  li ul ul {
	margin: -31px 0px 0px 150px;
	}
#topnav  li ul ul li a {}
#topnav  li ul li ul li a {}
#topnav  li:hover,#topnav  li.hover {
	position: static;
	}
#topnav  li:hover ul ul, #topnav  li.sfhover ul ul,
#topnav  li:hover ul ul ul, #topnav  li.sfhover ul ul ul,
#topnav  li:hover ul ul ul ul, #topnav  li.sfhover ul ul ul ul {
	left: -999em;
	}
#topnav  li:hover ul, #topnav  li.sfhover ul,
#topnav  li li:hover ul, #topnav  li li.sfhover ul,
#topnav  li li li:hover ul, #topnav  li li li.sfhover ul,
#topnav  li li li li:hover ul, #topnav  li li li li.sfhover ul {
	left: auto;
	}
/** 导航搜索 **/
#searchbar {
	}
/** 现在位置 **/
#map {
	color:#ccc;
	}

/** 首页 **/
.sticky-post {
	background:url(gray/bg.png) -294px -111px;
	}
.archive_more a {
	display: none;
	width: 63px;
	height: 165px;
	position: absolute;
	right: 0;
	top: 1px;
	background: #27AAE2;		
}
.date {
	display: block;
	width: 60px;
	height: 15px;
	color: white;
	position: absolute;
	top: -7px;
	left: 160px;
	background: #96D25C;
	z-index: 10;
	font-family: arial;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	overflow: hidden;
	}
/** 侧边栏 **/
#sidebar h3 {
	color:#6BA82F;
	}

#tabs ul.htotabs li a.selected, #tabs ul.htotabs li a:hover {
	background: url(metroGreen/metroGreenPic.png) -154px -4px no-repeat ;
	color: #6BA82F;
	}
.htotabs li a {
	margin: 0 5px;
	display: block;
	}
.widget1 a,.widget2 a ,.widget3 a  {

font-size: 14px;
}
.box_top, .box, .box_c, .box_r, .r_comments,.categories {
	border-top: 2px solid #6BA82F;
	}
/** 回复 **/
.reply {
	display:none;
	}
/** 表单 **/
#commentform input.submit {
	background:#72B332;
	}
#commentform input#reset {
	background:#72B332;
	}
/** 头像 **/
.set_avatar {
	background:url(gray/bg.png) -369px -73px;
	}


/** 最新图标 **/
.news {
	background:url(gray/bg.png) no-repeat -232px -113px;
	}
/** 分类名称 **/
#hot_tag,.cat_name a,.cat_name_l,.cat_name a:hover {
	background:#C01E22;
	color: #fff;
	}
/**区块标题**/
.section_title span, .section_title a {
background: #72B332;
}
/**文章列表左边缩略图**/
.thumbnail_box a:hover{
	background: #87CB44;
    border: 1px solid #87CB44;
 }
 