
.bdlikebutton {
    background: url("http://bdimg.share.baidu.com/static/images/like.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    text-align: center;
}
.bdlikebutton-inner {
    overflow: hidden;
}
.bdlikebutton-small {
    font-weight: 300;
    height: 25px;
    text-align: center;
    width: 85px;
}
.bdlikebutton-small .bdlikebutton-count {
    line-height: 25px;
    padding-left: 23px;
}
.bdlikebutton-medium {
    height: 50px;
    width: 105px;
}
.bdlikebutton-medium .bdlikebutton-count, .bdlikebutton-large .bdlikebutton-count {
    background: url(http://bdimg.share.baidu.com/static/images/like.png) no-repeat scroll 0 0 transparent;
    display: inline-block;
}
.bdlikebutton-medium .bdlikebutton-count {
    line-height: 15px;
    margin-top: 8px;
    padding: 2px 0 0 20px;
}
.bdlikebutton-medium-orange .bdlikebutton-count {
    background-position: -280px 0;
}
.bdlikebutton-medium-blue .bdlikebutton-count {
    background-position: -280px -30px;
}
.bdlikebutton-medium-green .bdlikebutton-count {
    background-position: -280px -60px;
}
.bdlikebutton-medium-red .bdlikebutton-count {
    background-position: -280px -90px;
}
.bdlikebutton-medium-orange-hover .bdlikebutton-count {
    background-position: -280px -600px;
}
.bdlikebutton-medium-blue-hover .bdlikebutton-count {
    background-position: -280px -630px;
}
.bdlikebutton-medium-green-hover .bdlikebutton-count {
    background-position: -280px -660px;
}
.bdlikebutton-medium-red-hover .bdlikebutton-count {
    background-position: -280px -690px;
}
.bdlikebutton-large .bdlikebutton-count {
    font-size: 18px;
    line-height: 24px;
    margin-top: 8px;
    padding: 2px 0 0 27px;
}
.bdlikebutton-large-orange .bdlikebutton-count {
    background-position: -272px -120px;
}
.bdlikebutton-large-blue .bdlikebutton-count {
    background-position: -272px -170px;
}
.bdlikebutton-large-green .bdlikebutton-count {
    background-position: -272px -220px;
}
.bdlikebutton-large-red .bdlikebutton-count {
    background-position: -272px -270px;
}
.bdlikebutton-large-orange-hover .bdlikebutton-count {
    background-position: -272px -720px;
}
.bdlikebutton-large-blue-hover .bdlikebutton-count {
    background-position: -272px -770px;
}
.bdlikebutton-large-green-hover .bdlikebutton-count {
    background-position: -272px -820px;
}
.bdlikebutton-large-red-hover .bdlikebutton-count {
    background-position: -272px -870px;
}
.bdlikebutton-medium .bdlikebutton-text {
    line-height: 22px;
}
.bdlikebutton-large {
    height: 60px;
    width: 145px;
}
.bdlikebutton-large .bdlikebutton-text {
    color: #A9A9A9;
    line-height: 22px;
}
.bdlikebutton-large-orange-hover .bdlikebutton-text, .bdlikebutton-large-blue-hover .bdlikebutton-text, .bdlikebutton-large-green-hover .bdlikebutton-text, .bdlikebutton-large-red-hover .bdlikebutton-text {
    color: #FFFFFF;
}
.bdlikebutton-orange {
    color: #D25806;
}
.bdlikebutton-blue {
    color: #2979D3;
}
.bdlikebutton-green {
    color: #127B03;
}
.bdlikebutton-red {
    color: #B50005;
}
.bdlikebutton-small-orange {
    background-position: 0 0;
}
.bdlikebutton-small-blue {
    background-position: 0 -30px;
}
.bdlikebutton-small-green {
    background-position: 0 -60px;
}
.bdlikebutton-small-red {
    background-position: 0 -90px;
}
.bdlikebutton-medium-orange {
    background-position: 0 -120px;
}
.bdlikebutton-medium-blue {
    background-position: 0 -175px;
}
.bdlikebutton-medium-green {
    background-position: 0 -230px;
}
.bdlikebutton-medium-red {
    background-position: 0 -285px;
}
.bdlikebutton-large-orange {
    background-position: 0 -340px;
}
.bdlikebutton-large-blue {
    background-position: 0 -405px;
}
.bdlikebutton-large-green {
    background-position: 0 -470px;
}
.bdlikebutton-large-red {
    background-position: 0 -535px;
}
.bdlikebutton-small-orange-hover {
    background-position: -90px 0;
}
.bdlikebutton-small-blue-hover {
    background-position: -90px -30px;
}
.bdlikebutton-small-green-hover {
    background-position: -90px -60px;
}
.bdlikebutton-small-red-hover {
    background-position: -90px -90px;
}
.bdlikebutton-medium-orange-hover {
    background-position: -110px -120px;
    color: #FFFFFF;
}
.bdlikebutton-medium-blue-hover {
    background-position: -110px -175px;
    color: #FFFFFF;
}
.bdlikebutton-medium-green-hover {
    background-position: -110px -230px;
    color: #FFFFFF;
}
.bdlikebutton-medium-red-hover {
    background-position: -110px -285px;
    color: #FFFFFF;
}
.bdlikebutton-large-orange-hover {
    background-position: -150px -340px;
    color: #FFFFFF;
}
.bdlikebutton-large-blue-hover {
    background-position: -150px -405px;
    color: #FFFFFF;
}
.bdlikebutton-large-green-hover {
    background-position: -150px -470px;
    color: #FFFFFF;
}
.bdlikebutton-large-red-hover {
    background-position: -150px -535px;
    color: #FFFFFF;
}
.bdsharebutton-box {
    background: url(http://bdimg.share.baidu.com/static/images/like.png) no-repeat scroll 0 0 transparent;
    line-height: 16px;
    position: absolute;
    top: 0;
}
.bdsharebutton-box .bdsharebutton-small {
    height: 25px;
    width: 219px;
}
.bdsharebutton-box .bdsharebutton-medium {
    height: 50px;
    width: 224px;
}
.bdsharebutton-box .bdsharebutton-large {
    height: 60px;
    padding-left: 16px;
    width: 263px;
}
.bdsharebutton-box .bdsharebutton .bdsharetext {
    color: #777777;
    text-align: right;
    width: 58px;
}
.bdsharebutton-box .bdsharebutton .bdlike_more {
    color: #777777;
}
.bdsharebutton-box .bdsharebutton a {
    margin-right: 5px;
}
.bdsharebutton-small-orange {
    background-position: 0 -600px;
}
.bdsharebutton-small-blue {
    background-position: 0 -630px;
}
.bdsharebutton-small-green {
    background-position: 0 -660px;
}
.bdsharebutton-small-red {
    background-position: 0 -690px;
}
.bdsharebutton-medium-orange {
    background-position: 0 -720px;
}
.bdsharebutton-medium-blue {
    background-position: 0 -775px;
}
.bdsharebutton-medium-green {
    background-position: 0 -830px;
}
.bdsharebutton-medium-red {
    background-position: 0 -885px;
}
.bdsharebutton-large-orange {
    background-position: 0 -940px;
}
.bdsharebutton-large-blue {
    background-position: 0 -1005px;
}
.bdsharebutton-large-green {
    background-position: 0 -1070px;
}
.bdsharebutton-large-red {
    background-position: 0 -1135px;
}
.bdlikebutton .bdlikebutton-add {
    display: none;
    font-size: 20px;
    font-weight: 700;
    left: 50%;
    position: absolute;
    top: 0;
    z-index: 10002;
}
.bdsharebutton {
    font-size: 12px;
    overflow: hidden;
}
.bdsharebutton a {
    background: url("http://bdimg.share.baidu.com/static/images/is.png?cdnversion=20120914") no-repeat scroll 0 0 transparent;
    display: inline;
    float: left;
    height: 16px;
    margin-top: 5px;
    padding-left: 16px;
}
.bdsharebutton span {
    float: left;
}
.bdsharebutton .bdsharetext {
    margin-top: 5px;
}
.bdsharebutton .bdlike_more {
    background: url("http://bdimg.share.baidu.com/static/images/is.png?cdnversion=20120914") no-repeat scroll -4px 5px transparent;
    cursor: pointer;
    float: left;
    height: 16px;
    line-height: 16px;
    padding: 5px 0 4px 20px;
}
.bdsharebutton .bdlike_qzone {
    background-position: -4px -80px;
}
.bdsharebutton .bdlike_tsina {
    background-position: -4px -120px;
}
.bdsharebutton .bdlike_tqq {
    background-position: -4px -240px;
}
.bdsharebutton .bdlike_renren {
    background-position: -4px -200px;
}
.bdsharebutton .bdlike_kaixin {
    background-position: -4px -280px;
}
.bdsharebutton-medium .bdsharetext {
    margin-top: 18px;
}
.bdsharebutton-medium a {
    margin-top: 18px;
}
.bdsharebutton-medium .bdlike_more {
    background: url("http://bdimg.share.baidu.com/static/images/is.png?cdnversion=20120914") no-repeat scroll -4px 18px transparent;
    cursor: pointer;
    float: left;
    padding: 18px 0 17px 20px;
}
.bdsharebutton-large .bdsharetext {
    margin-top: 14px;
}
.bdsharebutton-large a {
    background: url("http://bdimg.share.baidu.com/static/images/is_32.png?cdnversion=20120914") no-repeat scroll 0 0 transparent;
    height: 32px;
    margin-top: 14px;
    padding-left: 32px;
}
.bdsharebutton-large .bdlike_more {
    background: url("http://bdimg.share.baidu.com/static/images/is_32.png?cdnversion=20120914") no-repeat scroll -4px 14px transparent;
    cursor: pointer;
    float: left;
    height: 32px;
    line-height: 32px;
    padding: 14px 0 14px 37px;
}
.bdsharebox {
    background: none repeat scroll 0 0 #FFFFFF;
    font: 12px/1.5 Arial,Helvetica,sans-serif;
    position: absolute;
    text-align: left;
    top: 0;
    width: 212px;
    z-index: 10001;
}
.bdsharebox-inner {
    border: 1px solid #F6F6F6;
    overflow: hidden;
    width: 210px;
}
.bdsharebox h4 {
    background-color: #F6F6F6;
    border-bottom: 1px solid #F2F1F1;
    border-top: 1px solid #FBFBFB;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    margin: 0;
    padding: 5px 0;
    text-indent: 0.5em;
}
.bdsharebox ul {
    height: 232px;
    overflow-y: scroll;
    padding: 8px 2px;
}
.bdsharebox li {
    float: left;
    height: 26px;
    line-height: 26px;
    list-style: none outside none;
    padding: 2px;
    width: 89px;
}
.bdsharebox-inner p {
    background-color: #F8F8F8;
    border-top: 1px solid #F2F1F1;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-align: right;
}
.bdsharebox-inner p a {
    background: url("http://bdimg.share.baidu.com/static/images/pi.gif?cdnversion=20120824") no-repeat scroll 0 5px transparent;
    color: #565656;
    float: right;
    font-size: 12px;
    padding-left: 12px;
    text-decoration: none;
}
.bdsharebox li a {
    background: url("http://bdimg.share.baidu.com/static/images/is.png?cdnversion=20120914") no-repeat scroll 0 0 transparent;
    color: #565656;
    display: block;
    font-size: 12px;
    line-height: 12px;
    padding: 6px 0 6px 24px;
    text-decoration: none;
}
.bdsharebox li a:hover {
    background-color: #F3F3F3;
}
.bdsharebox li .bds_qzone {
    background-position: 0 -75px;
}
.bdsharebox li .bds_tsina {
    background-position: 0 -115px;
}
.bdsharebox li .bds_baidu {
    background-position: 0 -155px;
}
.bdsharebox li .bds_renren {
    background-position: 0 -195px;
}
.bdsharebox li .bds_tqq {
    background-position: 0 -235px;
}
.bdsharebox li .bds_kaixin001 {
    background-position: 0 -275px;
}
.bdsharebox li .bds_tqf {
    background-position: 0 -315px;
}
.bdsharebox li .bds_hi {
    background-position: 0 -355px;
}
.bdsharebox li .bds_douban {
    background-position: 0 -395px;
}
.bdsharebox li .bds_tsohu {
    background-position: 0 -435px;
}
.bdsharebox li .bds_msn {
    background-position: 0 -475px;
}
.bdsharebox li .bds_qq {
    background-position: 0 -515px;
}
.bdsharebox li .bds_taobao {
    background-position: 0 -555px;
}
.bdsharebox li .bds_tieba {
    background-position: 0 -595px;
}
.bdsharebox li .bds_buzz {
    background-position: 0 -635px;
}
.bdsharebox li .bds_sohu {
    background-position: 0 -675px;
}
.bdsharebox li .bds_t163 {
    background-position: 0 -715px;
}
.bdsharebox li .bds_qy {
    background-position: 0 -755px;
}
.bdsharebox li .bds_tfh {
    background-position: 0 -795px;
}
.bdsharebox li .bds_hx {
    background-position: 0 -835px;
}
.bdsharebox li .bds_fx {
    background-position: 0 -875px;
}
.bdsharebox li .bds_ff {
    background-position: 0 -915px;
}
.bdsharebox li .bds_xg {
    background-position: 0 -955px;
}
.bdsharebox li .bds_ty {
    background-position: 0 -995px;
}
.bdsharebox li .bds_s51 {
    background-position: 0 -1035px;
}
.bdsharebox li .bds_fl5 {
    background-position: 0 -1075px;
}
.bdsharebox li .bds_fbook {
    background-position: 0 -1115px;
}
.bdsharebox li .bds_twi {
    background-position: 0 -1155px;
}
.bdsharebox li .bds_ms {
    background-position: 0 -1195px;
}
.bdsharebox li .bds_deli {
    background-position: 0 -1235px;
}
.bdsharebox li .bds_s139 {
    background-position: 0 -1275px;
}
.bdsharebox li .bds_zx {
    background-position: 0 -1315px;
}
.bdsharebox li .bds_linkedin {
    background-position: 0 -1354px !important;
}
.bdsharebox li .bds_copy {
    background-position: 0 -1393px !important;
}
.bds_ifeng {
    background-position: 0 -1431px !important;
}
.bds_tuita {
    background-position: 0 -1470px !important;
}
.bds_meilishuo {
    background-position: 0 -1549px !important;
}
.bds_mogujie {
    background-position: 0 -1589px !important;
}
.bds_diandian {
    background-position: 0 -1629px !important;
}
.bds_huaban {
    background-position: 0 -1669px !important;
}
.bds_leho {
    background-position: 0 -1709px !important;
}
.bds_wealink {
    background-position: 0 -1749px !important;
}
.bds_duitang {
    background-position: 0 -1789px !important;
}
.bds_thx {
    background-position: 0 -1829px !important;
}
.bds_mail {
    background-position: 0 -1870px !important;
}
.bds_print {
    background-position: 0 -1910px !important;
}
.bds_bdhome {
    background-position: 0 -1950px !important;
}